<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="panel panel-default" ng-cloak>
  <div class="panel-heading">{{ form.form_name }} <span ng-show="previewMode">Form Preview</span> 
    <div class="dropdown btn-group pull-right" ng-show="superuser">

        <button class="btn btn-default btn-xs" ng-show="!editmode" ng-click="editmode=true" >
             <span tooltip-placement="left" tooltip="Edit current form" class="glyphicon glyphicon-pencil"></span>
        </button>
        <div ng-show="editmode">
        <button class="btn btn-default btn-xs" ng-click="addField()">
             <span tooltip-placement="left" tooltip="Add new Field" class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
        
    </div>
  </div>
  <div class="panel-body">
    <form role="form" class="form">
        <div ng-show="previewMode">
            <div class="form-group">
               <input type="text" class="form-control" id="formNamelid" placeholder="Form Name" ng-model="form.form_name" ng-required="true">
            </div>
            <div class="form-group">
               <input type="text" class="form-control" id="formModuelid" placeholder="Module Name" ng-model="form.module" ng-required="true">
            </div>
        </div>
        
        <div ng-repeat="field in form.form_fields">
          	<field-directive field="field" editmode="editmode"></field-directive>
        </div>
         <hr>
         <button type="button" class="btn btn-default btn-sm" ng-click="save()" ng-show="editmode && form.form_fields.length > 0">
             <span class="glyphicon glyphicon-floppy-save"></span> Save Form
         </button>
         <button type="button" class="btn btn-default btn-sm" ng-click="submit()" ng-show="!editmode && form.form_fields.length > 0">
             <span class="glyphicon glyphicon-floppy-save"></span> Submit Form
         </button>
         <button type="button" class="btn btn-default btn-sm pull-right" ng-show="editmode && form.form_fields.length > 0" ng-click="editmode=false">
          <span class="glyphicon glyphicon-remove-circle"></span> Cancel Changes
        </button>
    </form>
   </div>
</div>
