<div ng-include="'partials/navbar'"></div>

  <div class="container">
    <div class="row">
      <!-- /span6 -->
      <div class="col-sm-6">
       <form-directive form="form"></form-directive>
      </div>
      <div class="col-sm-6">

        <div class="panel panel-default">
          <div class="panel-heading">Add Form Fields</div>
          <div class="panel-body">
              <form class="form" role="form">
                <div class="form-group">
                    <label class="sr-only" for="fieldType">Field Type</label>
                      <select ng-model="addField.field_type" class="form-control" placeholder="Field type" id="fieldtype" ng-options="type.name as type.value for type in addField.types"></select>
                </div>

                  <div class="form-group">
                    <label class="sr-only" for="fieldName">Field Name</label>
                    <input type="text" placeholder="Field Name" class="form-control" id="fieldName" ng-model="addField.field_title" value="{{addField.field_title}}">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="fieldValue">Field Value</label>
                    <input type="text" placeholder="Field Value" class="form-control" id="fieldValue" ng-model="addField.field_value" value="{{addField.field_title}}">
                  </div>
                  <div class="form">
                      <input type="checkbox" id="fieldIsRequired" ng-model="field.field_required">
                      <label  for="fieldIsRequired">Is Required?</label>
                  </div>
                  <div class="form-group" ng-show="showAddOptions(addField)">
                    <table class="table">
                        <th>Option value</th>
                        <th>Option label</th>
                        <th></th>
                        <tr ng-repeat="option in addField.field_options">
                            <td><input type="text" class="form-control" ng-model="option.option_value" value="{{option.option_value}}"></td>
                            <td><input type="text" class="form-control" ng-model="option.option_title" value="{{option.option_title}}"></td>
                            <td>
                                <a class="btn btn-danger btn-xs right" type="button" ng-click="deleteOption(addField, option)"><span class="glyphicon glyphicon-minus"></span></a></td>
                        </tr>
                    </table>
                  </div>
                    <button type="button" class="btn btn-default btn-sm" ng-show="showAddOptions(addField)" ng-click="addOption(addField)">
                      <span class="glyphicon glyphicon-plus"></span> Add Option
                    </button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="addNewField(addField)" ng-show="canAddFiled()">
                      <span class="glyphicon glyphicon-plus"></span> Add Field
                    </button>
                    
                     <span ng-show="form.form_fields.length == 0" class="label label-warning">No fields added yet.</span>
                </form>
            </div>
          </div>
        </div>
    </div>
 </div>
