<div ng-include="'partials/navbar'"></div>
<div class="container">
    <div class="row">
      <!-- /span6 -->
      <div class="col-sm-12">
		<h4>Forms</h4>
		<table class="table table-hover">
			<thead>
			 <tr>
				 <th>Form Name</th>
				 <th>Module</th>
				 <th>Last Updated</th>
				 <th></th>
			</tr>
			</thead>
			<tr ng-repeat="form in forms">
				<td><a href="#/form-builder?form_name={{form.form_name}}">{{form.form_name}}</a> </td>
				<td>{{form.module}}</td>
				<td>{{form.last_pdated}}</td>
				<td><a href="">del</a></td>
			</tr>
		</table>
		</div>
	</div>
</div>