
<div class="navbar navbar-fixed-top">
  
  <div class="navbar-inner">
    
    <div class="container">
      
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <a class="brand" href="index.html">
        Bootstrap Admin Template        
      </a>    
      
      <div class="nav-collapse">
        <ul class="nav pull-right">
          
          <li class="">           
            <a href="signup.html" class="">
              Don't have an account?
            </a>
            
          </li>
          
          <li class="">           
            <a href="index.html" class="">
              <i class="icon-chevron-left"></i>
              Back to Homepage
            </a>
            
          </li>
        </ul>
        
      </div><!--/.nav-collapse -->  
  
    </div> <!-- /container -->
    
  </div> <!-- /navbar-inner -->
  
</div> <!-- /navbar -->



<div class="account-container">
  
  <div class="content clearfix">
    
     <form class="form" name="form" ng-submit="login(form)" novalidate>
    
      <h1>Member Login</h1>   
      
      <div class="login-fields">
        
        <p>Please provide your details</p>
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
          <input class="form-control" type="text" placeholder="Email address" ng-model="user.email">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
          <input class="form-control" type="password" placeholder="Password" ng-model="user.password">
        </div>        
        <div class="form-group has-error">
        <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
           Please enter your email and password.
        </p>              
        <p class="help-block">{{ errors.other }}</p>
      </div>
      </div> <!-- /login-fields -->
      
      <div class="login-actions">
        
        <span class="login-checkbox">
          <input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
          <label class="choice" for="Field">Keep me signed in</label>
        </span>
                  
        <button type="submit" class="btn btn-lg btn-primary"> Sign in </button>
        
      </div> <!-- .actions -->
      
    </form>
    
  </div> <!-- /content -->
  
</div> <!-- /account-container -->



<div class="login-extra">
  <a href="#">Reset Password</a>
</div> <!-- /login-extra -->
