<div class="row">
	  <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Work log
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <i class="fa fa-tasks fa-fw"></i>John Doe Started PO#1234
                        <span class="pull-right text-muted small"><em>4 minutes ago</em></span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-success">
                        <i class="fa fa-tasks fa-fw"></i>John Doe Finished PO#1233
                        <span class="pull-right text-muted small"><em>10 minutes ago</em></span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-success">
                        <i class="fa fa-tasks fa-fw"></i>John Doe Finished PO#1233
                        <span class="pull-right text-muted small"><em>10 minutes ago</em></span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-warning">
                        <i class="fa fa-tasks fa-fw"></i>John Doe Finished PO#1233
                        <span class="pull-right text-muted small"><em>10 minutes ago</em></span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-danger">
                        <i class="fa fa-tasks fa-fw"></i>John Doe blocked PO#1233
                        <span class="pull-right text-muted small"><em>10 minutes ago</em></span>
                    </a>

                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All</a>
            </div>
            <!-- /.panel-body -->
        </div>
	 </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Ordered material
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <div href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Material #1</h4>
                        <span class="dropdown">
                            <a class="dropdown-toggle">
                                Update...
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="choice in ['Arrived in good condition','Arrived in bad condition','Never arrived']">
                                    <a>{{ choice }}</a>
                                </li>
                            </ul>
                        </span>
                        <span class="pull-right text-muted small"><em>ordered on Feb, 12</em></span>
                    </div>

                    <div href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Material #2</h4>
                        <span class="dropdown">
                            <a class="dropdown-toggle">
                                Update...
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="choice in ['Arrived in good condition','Arrived in bad condition','Never arrived']">
                                    <a>{{ choice }}</a>
                                </li>
                            </ul>
                        </span>
                        <span class="pull-right text-muted small"><em>4 minutes ago</em></span>
                    </div>
                    <div href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Material #3</h4>
                        <span class="dropdown">
                            <a class="dropdown-toggle">
                                Update...
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="choice in ['Arrived in good condition','Arrived in bad condition','Never arrived']">
                                    <a>{{ choice }}</a>
                                </li>
                            </ul>
                        </span>
                        <span class="pull-right text-muted small"><em>ordered on Feb, 12</em></span>
                    </div>
                    <div href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Material #4</h4>
                        <span class="dropdown">
                            <a class="dropdown-toggle">
                                Update...
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="choice in ['Arrived in good condition','Arrived in bad condition','Never arrived']">
                                    <a>{{ choice }}</a>
                                </li>
                            </ul>
                        </span>
                        <span class="pull-right text-muted small"><em>ordered on Feb, 12</em></span>
                    </div>

                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> To Do
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-comment fa-fw"></i> New Comment
                         <span class="pull-right text-muted small"><em>4 minutes ago</em></span>
                    </a>
                </div>
                <!-- /.list-group -->
                <a href="#" class="btn btn-default btn-block">View All Alerts</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
