<div class="input-group">
	<span class="input-group-btn">
		<button class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	</span>
	<input is-open="show_calendar" datepicker-popup placeholder="{{field.field_title}}" type="date" class="form-control" ng-model="field.field_value" ng-required="field.field_required" close-text="Close">
    <span class="input-group-addon" ng-show="editmode">
    	<a ng-click="open(field)"><span class="glyphicon glyphicon-cog"></span></a>
	</span>
</div>
