<div class="form-group">
 	<label for="{{field.field_title | nospace}}id">{{field.field_title}}</label>
	<div class="input-group" ng-show="editmode">
 		<input type="text" class="form-control" id="{{field.field_title | nospace}}id" placeholder="{{field.field_title}}" ng-model="field.field_value" value="{{field.field_value}}" ng-required="field.field_required">
 	    <span class="input-group-addon">
		  <a ng-click="open(field)"><span class="glyphicon glyphicon-cog"></span></a>
	    </span>
 	</div>
 	 <input type="text" class="form-control" id="{{field.field_title | nospace}}id" placeholder="{{field.field_title}}" ng-model="field.field_value" value="{{field.field_value}}" ng-required="field.field_required" ng-show="!editmode">
</div>
