<div class="panel panel-default">
  <div class="panel-body">
    <ul class="list-group">
    	<li class="list-group-item" ng-repeat="item in list">
    		<h4 class="list-group-item-heading">{{item.title}}: {{item.value}}</h4>
    		<div class="dropdown btn-group pull-right">
		        <button class="btn btn-default btn-xs dropdown-toggle">
	             <span class="glyphicon glyphicon-cog"></span>
		        </button>
		         <ul class="dropdown-menu">
		            <li>
		              <a ng-click="edit(item)">Edit</a>
		            </li>
		        </ul>
	    	</div>
		    <p class="list-group-item-text">
		    	<div ng-repeat="detail in item.details">{{detail}}</div>
		    </p>
    	</li>
	</ul>
	  <div ng-hide="list.length">
	   Nothing to show yet...
	  </div>
  </div>
  <div class="panel-footer">
	<li class="dropdown">
	  <a class="dropdown-toggle">
	    Show items form
	  </a>
	  <ul class="dropdown-menu">
	    <li>
	      <a ng-click="showLast('today')">today</a>
	      <a ng-click="showLast('month')">last month</a>
	      <a ng-click="showLast('year')">last year</a>
	    </li>
	  </ul>
	</li>
  </div>
</div>
